<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
# Redirect for tracker
RewriteRule ^tracker-([a-zA-Z0-9]+).jpg$ /app/pixel.php?token=$1 [L,QSA]

RewriteRule ^index\.php$ - [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /index.php?route=$1 [L,QSA]
</IfModule>
